
###> symfony/framework-bundle ###
.idea/
/.env
/public/bundles/
/var/
/vendor/
composer.lock
symfony.lock
/data/**
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
